.element {
  margin: 0;
  padding: 0;
}   


#welcome {
  font-size: 54px;
  font-weight: bold;
  color: #10b3ff;
  margin-bottom: 20px;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  flex-direction: column;
}

.description {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  size: 18px;
}
